

/*轮播图*/
.banner{
	position: relative;
	height: 460px;
}
.banner .current{
	z-index: 1;
}
.banner a{
	position: absolute;
	width: 100%;
	height: 100%;
	background-position: center;
	background-size: 100% 100%;
}

.banner i{
	position: absolute;
	top: 208px;
	width: 25px;
	height: 44px;
	z-index: 1;
	opacity: 0;
	cursor: pointer;
	transition: opacity 0.5s;
}
.banner:hover i{
	opacity: 0.5;
}
.banner i:hover{
	opacity: 1;
}
.banner .previous{
	left: 66px;
	background-position: 0 -37px;
}
.banner .next{
	right: 66px;
	background-position: -26px -37px;
}

/*子导航*/
.subnav{
	height: 139px;
	border: 1px solid #D9D9D9;
}

/*主体内容*/
.main{
	padding-top:90px;
	padding-bottom: 40px;
	overflow:hidden;
	background-color: #F2F2F2;
}

.main .w1200{
	overflow: hidden;
}
.main h1{
	text-align: center;
	font-size: 32px;
	font-weight: normal;
	color: #333333;
}
.main p{
	font-size: 16px;
	color: #999999;
	text-align: center;
}
.main>p,.product p{
	margin: 20px 0 42px;
}

/*展览车信息*/
.main .w1200 .container{
	margin-top: 40px;
	width: 1300px;
}
.main .w1200 .container .imgContainer{
	float: left;
	display: block;
	width: 570px;
	height: 240px;
	margin-right: 40px;
	margin-bottom: 40px;
	background: #fff;
	text-align: center;
}
.main .w1200 .container .imgContainer:hover{
	box-shadow: 5px 5px 5px #B6B6B6;
}
.main .w1200 .container .imgContainer:hover img{
	transform: translateX(-10px);
}	
.main .w1200 .container .imgContainer .leftB{
	float: left;
	width: 285px;
	height: 100%;
}
.main .w1200 .container .imgContainer .rightB{
	float: left;
	width: 285px;
	text-align: center;
}
.main .w1200 .container .imgContainer .rightB h2{
	margin-top: 27px;
	font-size: 20px;
	line-height: 30px;
	color: #444;
}
.main .w1200 .container .imgContainer:hover .rightB h2{
	color: #FF571A;
}	
.main .w1200 .container .imgContainer .rightB p{
	margin-top: 8px;
	height: 55px;
	line-height: 20px;
	font-size: 14px;
	color: #999;
}
.main .w1200 .container .imgContainer .rightB .rigDownB{
	width: 285px;
	height: 120px;
}
.main .w1200 .container .imgContainer .rightB .rigDownB img{
	max-width: 210px;
	max-height: 110px;
	background:no-repeat;
	transition: all .3s ease;
}
/*更多服务*/
.moreService{
	margin: 80px 0;
	background: #FFFFFF;
}
.moreService h1{
	text-align: center;
	font-size: 32px;
	font-weight: normal;
	color: #333333;
}
.moreService p{
	margin: 20px 0 42px;
	font-size: 16px;
	color: #999999;
	text-align: center;
}
.moreService ul{
	margin-left: 55px;
}
.moreService ul li{
	position: relative;
	float: left;
	padding-right: 15px;
	width: 325px;
	height: 180px;
}
.moreService ul .jianJu{
	margin-right: 15px;
	border-right: 1px solid #E6E6E6;
}
.moreService ul li .include{
	width:355px;
	height: 65px;
}
.moreService ul li img{
	display: block;
	width: 64px;
	height: 64px;
}
.moreService ul li .include img,.moreService ul li .include .textdesc{
	float: left;
}
.moreService ul li .include .textdesc{
	padding-top: 4px;
	padding-left: 20px;
	width: 270px;
	height: 61px;
}
.moreService ul li .include h2{
	margin-top: 0;
	margin-bottom: 15px;
	font-size: 20px;
}
.moreService ul li div.textDes{
	position: absolute;
	top: 80px;
	width: 325px;
}
.moreService ul li .textDes p{
	margin: 0;
	font-size: 12px;
	line-height: 16px;
	text-align: left;
	color: #999999;
}
.moreService ul li .textDes a{
	display: block;
	margin-top: 20px;
	font-size: 14px;
	color: #fd7240;
}




