body{
	margin: 0;
	padding: 0;
	line-height: 1;
	font-family: "microsoft yahei";
}
a{
	text-decoration: none;
	font-size: 12px;
}
input{
	outline: none;
	border: none;
}


/*顶部导航*/
.nav{
	height: 78px;
	border-top: 5px solid #FF571A;
	background:
	}

.w1200{
	margin: 0 auto;
	width: 1200px;
	}
.logo{
	float: left;
	margin-top: 18px;
	margin-right: 18px;
	width: 82px;
	height: 36px;
	background: url(../img/logo.png) no-repeat;
}
.icon{
	background: url(../img/icon.png) no-repeat;
}
.nav .a{
	margin-right: 35px;
}
.nav .cities{
	float: left;
	width: 86px;
	height: 28px;
	margin-top: 22px;
	margin-right: 52px;
	border: 1px solid #EDEDED;
	font-size: 14px;
	border-radius: 2px;
}	
.nav .fixedBox{
	margin-top: 3px;
	margin-left: -1px;
	width: 360px;
	height: 325px;
	border: 1px solid #FF581A;
	display: none;
}
.nav span{
	display: block;
	height: 28px;
	line-height: 28px;
	padding-left: 23px;
	cursor: pointer;
	color: #666;
}	
.nav .sameP{
	float: left;
	height: 28px;
	line-height: 28px;
	margin:25px 36px 25px 0;
	color: #333;
}
.nav input{
	float: left;
	margin: 20px 65px 25px 0;
	padding: 0 8px;
	width: 200px;
	height: 28px;
	border: 2px solid #E6E6E6;
}
.nav input:focus{
	border: 2px solid #CCCCCC;
}
.nav .sign{
	float: left;
	line-height: 28px;
	margin-top: 25px;
	margin-right: 16px;
}
.nav .tel{
	float: right;
	margin-top: 31px;
	width: 154px;
	height: 36px;
}
.nav .sameP:hover,.nav .sign:hover{
	color: #ff571a;
}


/*轮播图*/
.banner{
	position: relative;
	height: 460px;
}
.banner .current{
	z-index: 1;
}
.banner a{
	position: absolute;
	width: 100%;
	height: 100%;
	background-position: center;
	background-size: 100% 100%;
}

.banner i{
	position: absolute;
	top: 208px;
	width: 25px;
	height: 44px;
	z-index: 1;
	opacity: 0;
	transition: opacity 0.5s;
}
.banner:hover i{
	opacity: 0.5;
}
.banner i:hover{
	opacity: 1;
}
.banner .previous{
	left: 66px;
	background-position: 0 -37px;
}
.banner .next{
	right: 66px;
	background-position: -26px -37px;
}

/*子导航*/
.subnav{
	height: 139px;
	border: 1px solid #D9D9D9;
}

/*主体内容*/
.main{
	padding-top:90px;
	overflow:hidden;
	background-color: #F2F2F2;
}

.main .w1200{
	overflow: hidden;
}
.main h1{
	text-align: center;
	font-size: 32px;
	font-weight: normal;
	color: #333333;
}
.main p{
	color: #999999;
}
.main > p,.product >p{
	margin: 20px 0 42px;
}

.main .container{
	width: 1220px;
}

















